.modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    position: relative;
    max-width: 90%;
  }

  .closeButton {
    position: absolute;
    z-index: 5;
    top: 30px;
    right: 30px;
  }
}

